* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Anuphan", sans-serif;
  border: none;
}

h1 {
  text-align: center;
  color: #191825;
  font-size: 50px;
}

.container {
  display: flex;
  padding: 0 10px;
  flex-direction: row;
  height: 100vh;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: auto;
  align-items: center;
}

.container2 {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.menu {
  display: flex;
  width: 100%;
}
.btn {
  height: 50px;
  border: 1px solid black;
}

#nid.active {
  background-color: black;
  color: #00adb5;
}
.menu > button {
  font-size: 15px;
  width: 25%;
  border-right: none;
}

.menu > button:nth-child(4) {
  border-right: 1px solid;
}

#grid {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(9, auto);
  border-radius: 10px;
  background-color: #e2e5ea;
}

.card {
  color: white;
  border: 2px solid #00adb5;
  border-radius: 10px;
  padding: 10px;
  background-color: #000000;
  height: auto;
  font-size: large;
  padding: 20px;
  z-index: 2;
  position: absolute;
}

#confcard {
  height: 150px;
  max-width: 350px;
  width: 70vw;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card > button {
  position: absolute;
  font-size: medium;
  background-color: #00adb5;
  border: 1px solid black;
  padding: 7px;
}

#hintcard {
  display: none;
  max-width: 350px;
  min-width: 220px;
  left: 50%;
  width: 50vw;
  top: 80%;
  height: auto;
  transform: translate(-50%, -50%);
}

#nxtbtn,
#confno {
  bottom: 10%;
  right: 10%;
}
#skipbtn,
#confyes {
  bottom: 10%;
  left: 10%;
}
#hintbtn {
  top: 10%;
  right: 10%;
}
#grid * {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  max-width: 50px;
  max-height: 50px;
  width: 10vw;
  height: 10vw;
  display: grid;
  padding: 5px;
}

#keyboard {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#keyboard > button {
  font-size: 20px;
  width: 33.3%;
  border-top: none;
  border-right: none;
}

#keyboard button.active {
  border: 2px solid #00adb5;
}

#grid > div:nth-child(9n + 1) {
  border-left: none;
}

#grid > div:nth-child(9n) {
  border-right: none;
}

#grid > div:nth-child(-n + 9) {
  border-top: none;
}

#grid > div:nth-last-child(-n + 9) {
  border-bottom: none;
}

.empty {
  font-size: 9px;
  font-weight: 800;
}

.empty,
.filled {
  background: #fff;
}
.filled,
.prefilled {
  place-items: center;
  font-size: 25px;
}
.prefilled {
  background-color: #e6e6e6;
}
.incorrect {
  color: rgb(255 55 55);
}

.hinted {
  background-color: rgb(255, 251, 0);
}

.selected {
  background-color: #00e9f5;
}

.pointed {
  background-color: rgb(255, 92, 92);
}

#hintBtn {
  width: 50px;
  border: 1px solid black;
  height: 30px;
}

#hint {
  text-align: center;
  color: white;
  height: auto;
  max-width: 300px;
  padding: 20px;
  background: black;
  font-size: 20px;
  border: 2px solid #00adb5;
  border-radius: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 780px) {
  .container {
    flex-direction: column;
    justify-content: space-evenly;
    width: 90vw;
  }

  .container2 {
    width: 100%;
    max-width: 400px;
  }

  #keyboard > button {
    width: 20%;
    height: 30px;
  }

  #keyboard > button:nth-child(5n) {
    border-right: 1px solid;
  }

  #card1 {
    height: 300px;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #hintcard {
    bottom: 8%;
    left: 50%;
  }
}

@media only screen and (min-width: 781px) {
  .container2 {
    width: 220px;
  }

  #keyboard > button:nth-child(3n) {
    border-right: 1px solid;
  }

  #keyboard > button:nth-child(10) {
    width: 100%;
    border-right: 1px solid;
  }

  #keyboard > button {
    width: 33.3%;
  }

  #card1 {
    top: 10%;
    left: 10%;
    height: 300px;
    width: 500px;
  }

  #hintcard {
    top: 50%;
    left: 75%;
  }
}
