*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
}

body{
  
font-family: "Anuphan", sans-serif;
  
/* background: url(Images/backgrounds/6193485.jpg); */
  
background-size: cover;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100vw;
  padding: 0 10px;
  justify-content: space-evenly;
}
.container >*{
  margin-top: 10px;
}

.section{
  margin: 10px 0;
  text-align: center;
}
#keyboard > button{
  border: none;
  font-size: 20px;
  max-width: 50px;
  max-height: 50px;
  width: 8vw;
  height: 8vw;
  margin: 3px;
  float: left;
  background-color: rgb(255 255 255);
  border-radius: 5px;
  border: 1px solid black;
}

.menu{display: flex;justify-content: space-between;}
.menu>button{
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border: 1px solid black;
}

#keyboard > button:nth-child(10){max-width: 90px;width: 30vw;}

#keyboard{
  width: 168px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#grid {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(9, auto);
  border-radius: 10px;
}
#grid * {
  border: 0.1px solid black;
  max-width: 50px;
  max-height: 50px;
  width: 10vw;
  height: 10vw;
  display: grid;
  padding: 5px;
}

#grid > div:nth-child(9n + 1) {
  border-left: none;
}

#grid > div:nth-child(9n) {
  border-right: none;
}

#grid > div:nth-child(-n + 9) {
  border-top: none;
}

#grid > div:nth-last-child(-n + 9) {
  border-bottom: none;
}

.btn {
  display: block;
  margin: 10px auto;
}
.empty {
  font-size: 8px;
}

.filled {
  place-items: center;
  font-size: 25px;
}
.incorrect {
  color: red;
}
.correct {
  color: green;
}

.hinted {
  background-color: red;
}

.selected{
  background-color: yellow;
}

#hint{text-align: center;}

@media only screen and (max-width: 780px) {
  .container{
    flex-direction: row;
  }
  .container1{
  }
  #keyboard{
    width: 100%;
    flex-direction: row;
  }
}